body {
  text-align: center;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.topPic {
	margin-top: 3%;
}

h1 {
	font-family: 'Exo 2', sans-serif;
}

#animal {
	background-color: #ffb026;
}

#animalPic {
	width: 30%;
	margin-bottom: 3%;
}

#yourAnimal {
	font-family: 'Shadows Into Light', cursive;
	font-size: 36px;
	font-weight: bolder;
	margin-bottom: 3%;
}

#yourZodiac {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	font-weight: 900;
}